{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}
{% block title %}JohaNN{% endblock %}

{% block navbar %}

<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <span class="navbar-brand" href="#">JohaNN</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="https://github.com/naoyak">@naoyak</a></li>
        <li><a href="http://blog.naoya.io">Blog</a></li>
        <li><a href="http://twitter.com/naoyak">Twitter</a></li>
      </ul>

  </div>
  <!-- ... -->
</nav>
{% endblock %}

{% block content %}
  <h1 class="text-center">JohaNN - The Baroque Generator RNN</h1>


    <div class="center-block row" style="margin: 35px 5%;">
      <div class="col-md-4 col-md-offset-2" style="">
        {{ wtf.quick_form(form) }}
      </div>
      <div class="col-md-6" style="padding: 20px;">
          <form id="midi-download" action="" method="get">
            <button id="midi-download-btn" class="btn btn-default" type="submit" name="button" disabled>Download MIDI file</button>
          </form>
          <img id="sheet-music" class="img-responsive center-block" src="" alt="" />
      </div>
    </div>
  <!-- </div> -->


{% endblock %}
{% block scripts %}
  {{super()}}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#submit').click(function(e) {
        $('#submit').attr("disabled", true);
        $('#midi-download-button').attr("disabled", true);
        e.preventDefault();
        data = {
          // 'csrf_token': ,
          // 'csrftoken':
          'temperature': $('#temperature').val(),
          'seed_length': $('#seed_length').val(),
          'seq_len': $('#seq_len').val(),
          'song_name': $('#song_name').val()
        };

        var csrftoken = $('meta[name=csrf-token]').attr('content')

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

        $.ajax({
          url: '/generate/',
          data: JSON.stringify(data),
          type: 'POST',
          contentType:'application/json;charset=UTF-8',
          success: function(data) {
            console.log(data);
            $('#sheet-music').attr('src', data.img_s3_path);
            $('#submit').attr("disabled", false);
            $('#midi-download').attr('action', data.midi_s3_path);
            $('#midi-download-btn').attr("disabled", false);
            // display text here
          },
          error: function(error) {
            console.log(error);
          }


        });
      })
    });
  </script>
{% endblock %}
